<div class="mailpoet_tools"></div>
<div class="mailpoet_content">
  <div class="mailpoet_dynamic_products_block_overlay">
    <span class="mailpoet_overlay_message"><%= __('This is only a preview! Your subscribers will see your latest products.') %></span>
  </div>
  <div class="mailpoet_dynamic_products_block_posts"></div>
</div>
<div class="mailpoet_block_highlight"></div>
