.botiga-accordion {
  position: relative;
}

.botiga-accordion-toggle {
  position: relative;
  cursor: pointer;
  margin: 0 !important;
}
.botiga-accordion-toggle:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 4px;
  width: 8px;
  height: 8px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: ease opacity 300ms;
  transition: ease opacity 300ms;
  opacity: 0.6;
}
.botiga-accordion-toggle.active:after {
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  opacity: 1;
}
.botiga-accordion-toggle + .botiga-accordion-body {
  padding-top: 20px;
}
.botiga-accordion-toggle--no-pseudo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 6px;
}
.botiga-accordion-toggle--no-pseudo > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8px;
  height: 8px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: ease opacity 300ms;
  transition: ease opacity 300ms;
  opacity: 0.6;
}
.botiga-accordion-toggle--no-pseudo:after {
  display: none;
}
.botiga-accordion-toggle--no-pseudo.active > span {
  position: relative;
  top: 2px;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  opacity: 1;
}
.botiga-accordion-toggle--pos-abs {
  position: absolute;
  right: -5px;
  top: 7px;
}

.botiga-accordion-body.wp-block-navigation__submenu-container, .botiga-accordion-body.children, .botiga-accordion-body.wc-block-product-categories-list {
  padding-top: 7px;
}